body {
    font-size: 16px;
    color: #333;
    box-sizing:border-box;
    line-height: 1.25;
}

.fa-yellow {
    color: #FFC107;
    
}
.fa-green {
    color: green;
}
.fa-red {
    color: red;
}
.fa-blue {
    color: rgb(4, 148, 225);
}

/* header + menu */
.navbar {
    position: sticky; 
    top: 0; 
    box-shadow: 0 4px 6px 0px #b7b7b7; 
    background: white;
    padding: 0;
    z-index:1;
}

.navbar__ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    width: fit-content;
}

.navbar__li {
    float: left;
    border-bottom: 2px solid transparent;
}

.navbar__li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.navbar__li:hover {
    border-bottom: 2px solid #007bff;
}

.navbar__li:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 2px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}
.dropdown-content a:hover {
    background: whitesmoke
}

.menu-icon__visibility {
    display: none;
}

.menu-icon__style { 
    font-size:16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.menu-icon__position {
    text-align: center;
}

@media screen and (max-width: 680px) {
    .navbar {
        z-index:1;
    }
    .menu-icon__visibility {
      display: block;
    }
    .navbar__li {
        display: none;
    }
  }
  
  .show-menu {
    display: block;
    text-align: left;
    width: 100%;
}

.row {
    z-index: 10;
}

/*content */
.content {
    padding: 40px; 
    height: auto;
    max-width: 1200px; 
    margin: 0 auto;
}

/* table title in line */
.homepage h2 {
    text-align: center;
    border-top: 1px solid #750267;
    margin: 40px 0 10px 0;
    line-height: 14px;
    text-transform: uppercase;
}
.homepage h2 span {
    display: inline-block;
    background-color: #fff;
    position: relative;
    top: -13px;
    padding: 0 10px;
    font-size: 22px;
}

/* responsive table */
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    font-size: .85em;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .925em .625em;
    text-align: center;
    vertical-align: top;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 768px) {
    table {
      border: 0;
    }
  
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 1.25em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: left;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 1em .2em 0;
    }

    table .before-thumbs-up:before {
        font-family: FontAwesome;
        content: "\f164";
        font-size: 20px;
        color: green;
    }
    table .before-thumbs-down:before {
        font-family: FontAwesome;
        content: "\f165";
        font-size: 20px;
        color: rgb(255,0,0);
    }
    table .before-video-camera:before {
        font-family: FontAwesome;
        content: "\f03d";
        font-size: 20px;
    }
    table .before-commenting:before {
        font-family: FontAwesome;
        content: "\f27a";
        font-size: 20px;
        color: rgb(4, 148, 225, 0.7);
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

.table-price-button {
    display: inline-block;
    box-shadow:0px 0px 20px rgba(0,0,0,0.1);
    border: 1px solid rgb(247, 205, 141);
    font-size: .825em;
    border-radius: 3px;
    margin-top: 15px;
    background: rgb(248, 233, 206);
}
.table-price-button:hover {
    border: 1px solid rgb(245, 181, 84);
    box-shadow:0px 0px 20px rgba(0,0,0,0.15);
}

/* single table intro */

table.single__table-intro {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    font-size: .85em;
  }
  
  table.single__table-intro caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table.single__table-intro tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table.single__table-intro th,
  table.single__table-intro td {
    padding: .925em .625em;
    text-align: center;
    vertical-align: top;
  }
  
  table.single__table-intro th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    width: 35%;
  }

  @media screen and (max-width: 768px) {
    table.single__table-intro {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
        font-size: .85em;
      }
            
      table.single__table-intro tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
        display: inherit;
      }
      
      table.single__table-intro th,
      table.single__table-intro td {
        padding: .925em .625em;
        text-align: center;
        vertical-align: top;
      }
      
      table.single__table-intro th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
        width: 35%;
        vertical-align: middle;
      }
  }


/* table of content */
.toc__li, #TableOfContents > ul, #TableOfContents > ul > li, #TableOfContents > ul > li > ul, #TableOfContents > ul > li > ul > li {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
.toc__li, #TableOfContents > ul > li > ul > li {
    padding: 5px 0;
}

/* breadcrumb */
.breadcrumb a{
    margin-right: 10px
}

/* single sidebar */
.gray-box {
    padding: 3px 5px 0 5px;
    border-top: #DDDDDD 1px solid;
    background: url(https://vibratory.org/wp-content/uploads/2016/12/bg_lightgray_darktop_lightbottom.gif) repeat-x;
    margin-top: 15px;
}
.small {
    font-size: 0.75em;
    color: #8a8a8a;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-top: 1em;
}



