<div class="header">
                <h2 style="text-align:center">LOGO</h2>
                
</div>
              
<div class="navbar">
        <ul class="navbar__ul">
                <li class="navbar__li"><a href="#home">Home</a></li>
                <li class="navbar__li navbar__li-dropdown:hover"><a href="#news">News <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-content">
                                        <a href="#">public</a>
                                        <a href="#">economy</a>
                                        <a href="#">science</a>
                                      </div>
                </li>
                <li class="navbar__li"><a href="#contact">About <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-content">
                                        <a href="#">contact</a>
                                        <a href="#">map</a>
                                        <a href="#">history</a>
                                      </div>
                </li>
</ul>
</div>

