<table class="single__table-intro">
    <tbody>
        <tr>
            <th>
                <i class="fa fa-yellow fa-2x fa-trophy" aria-hidden="true"></i>
                </i>
            </th>
            <td>top</td>
        </tr>
        <tr>
            <th>
                Cena
            </th>
            <td>top</td>
        </tr>
        <tr>
            <th>
                <i class="fa fa-green fa-2x fa-plus-circle" aria-hidden="true"></i>
                </i>
            </th>
            <td>amet, feugiat eu, orci. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Aenean placerat. Integer malesuada. Sed ut perspiciatis unde omnis iste natus error sit</td>
        </tr>
        <tr>
            <th>
                <i class="fa fa-red fa-2x fa-minus-circle" aria-hidden="true"></i>
                </i>
            </th>
            <td>top</td>
        </tr>
        <tr>
            <th>
                Materiál
            </th>
            <td>top</td>
        </tr>
        <tr>
            <th>
                Délka / šířka
            </th>
            <td>top</td>
        </tr>
        <tr>
                <th>
                    <i class="fa fa-2x fa-commenting" aria-hidden="true"></i>
                    </i>
                </th>
                <td>top</td>
            </tr>
    </tbody>
</table>